1.answer 1

In [ ]:
def value(a,b,c):
   values=[a,b,c]
   sort=sorted(values)
   return sort[1]

num1= int,input("enter 1st number")
num2= int,input("enter 2nd number")
num3= int,input("enter 3rd number")

middle_value=value(num1,num2,num3)
print("middle value is: ",middle_value)

enter 1st number4
enter 2nd number1
enter 3rd number2
middle value is:  (<class 'int'>, '2')

2.anwer.2

In [ ]:
import math
def screen():
  print("chooce the operation")
  print("1. add")
  print("1. sustract")
  print("1. multiply")
  print("1. divid")
  print("1. modules")

  choice=input("Enter your choice (1/2/3/4/5): ")
  num1 = float(input("Enter first number: "))
  num2 = float(input("Enter second number: "))

  if choice=='1':
     print("result: ",num1+num2)

  elif choice=='2':
     print("result: ",num1-num2)

  elif choice=='3':
     print("result: ",num1*num2)

  elif choice=='2':
     print("result: ",num1/num2)

  elif choice=='2':
     print("result: ",num1%num2)

  else:
     print("Invalid input")

screen()

chooce the operation
1. add
1. sustract
1. multiply
1. divid
1. modules
Enter your choice (1/2/3/4/5): 1
Enter first number: 3
Enter second number: 4
result:  7.0

3.answer 3

In [ ]:
def right_triangle(l,b):
   h= (l ** 2 + b ** 2) ** 0.5
   return h

side1=3
side2=4
result= right_triangle(side1,side2)
print("hypotenuse is : ",result)

hypotenuse is :  5.0

4.ansswer.4

In [ ]:
#a.

class rectangle:
  def __init__(self,length,width):
    self.length=length
    self.width=width

#b.

  def calulate_perimeter(self):
      return 2*(self.length + self.width)

  def calulate_area(self):
      return self.length*self.width


the_rectangle=rectangle(5,8)

area=the_rectangle.calulate_area()
perimeter=the_rectangle.calulate_perimeter()


#c.

def display():
   print(f"Length: {the_rectangle.length}")
   print(f"width: {the_rectangle.width}")
   print(f"perimeter: {perimeter}")
   print(f"area: {area}")

display()

Length: 5
width: 8
perimeter: 26
area: 40

5.answer5

In [14]:
#a.
class BankAccount:

#b.
    def __init__(self, accountNumber, name, balance):
        self.accountNumber = accountNumber
        self.name = name
        self.balance = balance
#c.
    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            print(f"Deposit of ${amount} successful.")
        else:
            print("Deposit amount should be greater than zero.")
#d.
    def withdrawal(self, amount):
        if amount > 0 and amount <= self.balance:
            self.balance -= amount
            print(f"Withdrawal of ${amount} successful.")
        else:
            print("Withdrawal amount should be greater than zero and less than or equal to the balance.")
#e.
    def bankFees(self):
        fees = self.balance * 0.05
        self.balance -= fees
        print(f"Bank fees of 5% added. ${fees} from the account.")
#f.
    def display(self):
        print(f"Account Number: {self.accountNumber}")
        print(f"Account Name: {self.name}")
        print(f"Balance: ${self.balance}")

acc = BankAccount(123456, "Ronaldo", 1000)

acc.display()

acc.deposit(500)
acc.display()

acc.withdrawal(200)
acc.display()

acc.bankFees()
acc.display()

Account Number: 123456
Account Name: Ronaldo
Balance: $1000
Deposit of $500 successful.
Account Number: 123456
Account Name: Ronaldo
Balance: $1500
Withdrawal of $200 successful.
Account Number: 123456
Account Name: Ronaldo
Balance: $1300
Bank fees of 5% added. $65.0 from the account.
Account Number: 123456
Account Name: Ronaldo
Balance: $1235.0