In [25]:
scores = [2, 5, 7, 9, 3, 5, 8, 10, 9]
sorted_list = sorted(scores)
print('Runner up score is: ',sorted_list[-2])

Runner up score is:  9

2.answer 2

In [22]:
D= {'John':[25,32,43],'Peter':[87,55,96],'Ram':[58,55,43],'Meena':[63,79,85]}
name= (input('Enter the name '))
if name in D:
  D[name] = [88,77,99]
  print('the dictionary is ',D)
else:
  print('Name not found')

Enter the name Ram
the dictionary is  {'John': [25, 32, 43], 'Peter': [87, 55, 96], 'Ram': [88, 77, 99], 'Meena': [63, 79, 85]}

3.answer 3

In [23]:
age = int(input("Enter your age: "))
gender = input("Enter your gender (male/female): ")
if age < 5 or age > 60:
    ticket_price = 0
elif 5 <= age <= 12:
    ticket_price = 10
else:
    ticket_price = 50
if gender.lower() == "female":
    ticket_price *= 0.5
print("The ticket price is: Rs.",ticket_price)

Enter your age: 37
Enter your gender (male/female): female
The ticket price is: Rs. 25.0